<connectionStrings>
  <!-- Connection String for SQL Server 2005/2008 -->
  <!--<add name="yafnet" connectionString="data source=(local);initial catalog=yafnet;integrated security=SSPI" />-->
  <!-- Connection String for SQL Server 2005/2008 Express -->
    <add name="yafnet" connectionString="Data Source=SQL5002.smarterasp.net;Initial Catalog=DB_98E6A8_liero120;User Id=DB_98E6A8_liero120_admin;Password=hometheaterbuilder2;" providerName="System.Data.SqlClient"/>
</connectionStrings>