<!--
	SMTP setup for sending of e-mails from your forum.
	If the SMTP is SSL, you must edit the appSettings and set
	"YAF.UseSMTPSSL" to "true".
-->
<smtp deliveryMethod="Network" from="admin@hometheaterbuilder.net">
	<!-- Uncomment to specify SMTP settings -->
  <network host="mail.hometheaterbuilder.net" port="8889" password="hometheaterbuilder2" userName="admin" />
</smtp>

<!-- Use this setting for development: pickup directory must be exact path -->
<!--smtp deliveryMethod="SpecifiedPickupDirectory">
	<specifiedPickupDirectory pickupDirectoryLocation="C:\Inetpub\wwwroot\email" />
</smtp-->
